{% extends 'layout.twig' %}

{% block tabs %}
  {% include 'browse/nav.twig' with { 'page': 'author' } %}
{% endblock %}

{% block content %}
  <h1>{{ author.fullname }} ({{ author.birth }}-{{ author.death }})</h1>
  <p>{{ author.nationality }}, {{ author.sex }}</p>
  {% if available | length > 0 %}
    <h2>Available Works</h2>
    <ul>
      {% for text in available %}
        <li><a href="{{ text.url }}">{{ text.title }} ({{ text.published }})</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if desired | length > 0 %}
    <h2>Desired Works</h2>
    <ul>
      {% for text in desired %}
        <li><a href="{{ text.url }}">{{ text.title }} ({{ text.published }})</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
