<nav class="breadcrumb">
  <a href="{{ author.url }}">{{ author.id }}</a>
  {% if text %}
    {% include 'browse/breadcrumb.twig' with { 't': text } %}
  {% endif %}
</nav>
<nav class="tabs inverse">
  {% if text %}
    <a href="{{ text.url }}" class="{% if page == 'text' %}active{% endif %}">Text</a>
    <a href="{{ text.url }}/about" class="{% if page == 'about' %}active{% endif %}">About</a>
    {% if text.paragraphs %}
      <a href="{{ text.url }}/details" class="{% if page == 'details' %}active{% endif %}">Details</a>
    {% endif %}
  {% else %}
    <a href="{{ author.url }}" class="{% if page == 'author' %}active{% endif %}">Works</a>
  {% endif %}
</nav>
