{% extends 'layout.twig' %}

{% block tabs %}
  {% include 'browse/nav.twig' with { 'page': 'text' } %}
{% endblock %}

{% block content %}
  <div class="text {{ text.id }}">
    <div class="title">
      {{ text.fulltitle }}
    </div>
    {% if text.parent %}
      {% include 'browse/context.twig' %}
    {% endif %}
    {% if text.texts %}
      <ul class="toc">
        {% for stub in text.texts %}
          <li><a href="{{ stub.url }}">{{ stub.title }} ({{ stub.published }})</a></li>
        {% endfor %}
      </ul>
    {% elseif text.paragraphs %}
      {% for p in text.paragraphs %}
        {% if p.title %}
          <div class="title">{{ p.title }}</div>
        {% endif %}
        <div class="paragraph" id="{{ p.id }}">
          <div class="id">{{ text.id }}.{{ p.id }}</div>
          {% if p.before %}
            <div class="content with-before">
              <span class="before">{{ p.before }}</span> {{ p.content }}
            </div>
          {% else %}
            <div class="content">
              {{ p.content }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      {% if text.notes %}
        <hr>
        {% for n in text.notes %}
          <div class="note" id="n{{ n.id }}">
            <div class="id">{{ text.id }}.{{ n.paragraph }}n{{ n.id }}</div>
            <div class="content">{{ n.content }}</div>
          </div>
        {% endfor %}
      {% endif %}
      {% if text.parent %}
        {% include 'browse/context.twig' %}
      {% endif %}
    {% else %}
      <div class="paragraph">
        <div class="id"></div>
        <div class="content">
          <p>This text has not yet been imported into our database.</p>
        </div>
    {% endif %}
{% endblock %}
