<nav class="breadcrumb">
  <a href="{{ author.url }}">{{ author.id }}</a>
  {% for stub in text.breadcrumb %}
     &gt; <a href="{{ stub.url }}">{{ stub.breadcrumb }}</a>
  {% endfor %}
</nav>
<nav class="tabs inverse">
  {% if text.parent or text.texts %}
    <a href="{{ text.url }}/toc" class="{% if page == 'toc' %}active{% endif %}">TOC</a>
  {% endif %}
  <a href="{{ text.url }}" class="{% if page == 'text' %}active{% endif %}">Text</a>
  <a href="{{ text.url }}/about" class="{% if page == 'about' %}active{% endif %}">About</a>
  <a href="{{ text.url }}/usage" class="{% if page == 'usage' %}active{% endif %}">Usage</a>
</nav>
