{% extends 'layout.twig' %}

{% block javascripts %}
  <script defer src="/javascripts/author-letter.js"></script>
{% endblock %}

{% block content %}
  <h1>Dictionary: <span id="letter" data-letter="{{ letter }}">{{ letter | upper }}</span></h1>
  <h2><span id="author" data-author="{{ author.id }}">{{ author.fullname }}</span></h2>
  <p>There are {{ words | length }} words in the database beginning with the letter {{ letter | upper }}.</p>
  <p><label for="limit">
    Hide words with frequency greater than or equal to:
    <input type="number" value="100" id="limit">
  </label></p>
  <table>
    <thead>
      <tr>
        <th>Word</th>
        <th>Occurences</th>
        <th>Frequency</th>
      </tr>
    </thead>
    <tbody id="words"></tbody>
  </table>
{% endblock %}
