{% extends 'layout.twig' %}

{% block content %}
  <h1>Index of Texts to be Typed Up</h1>
  <p>Total pages: {{ pages }} ({{ checked | length }} / {{ texts | length }})</p>
  <ul>
  {% for text in texts %}
    <li>{{ text.published | join(', ') }} - {{ text.author.fullname }} ({{ text.author.sex }}) - <i>{{ text.title }}</i> - {% if text.pages is defined  %}{{ text.pages }}{% else %}<b>??</b>{% endif %} pages</li>
  {% endfor %}
  </ul>
{% endblock %}
